@font-face {
  font-family: 'Roboto', sans-serif;
  src:
    font-url('Roboto-Bold.ttf') format('truetype'),
    font-url('Roboto-Light.ttf') format('truetype'),
    font-url('Roboto-Medium.ttf') format('truetype'),
    font-url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: 'slate';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%icon-exclamation-sign {
  @extend %icon;
  content: "\e600";
}
%icon-info-sign {
  @extend %icon;
  content: "\e602";
}
%icon-ok-sign {
  @extend %icon;
  content: "\e606";
}
%icon-search {
  @extend %icon;
  content: "\e607";
}
